//color

$color-white: #fff;
$color-black: #000;
$color-black-light: #e7e7e7;
$color-black-light-1: #888;
$color-text-green: #28a745;
$color-background-banner: #F1F1F1;
$color-text-banner: #789629;
$color-black-light-2 : #6E6E6E;


//font-size


//font-weight

// font-family
@font-face {
    font-family: 'UTM ViceroyJF';
    src: url('../../assets/fonts/UTM\ ViceroyJF.ttf') format('truetype') ;
}