.socialList {
  margin-top: 2%;
  margin-bottom: 2%;
  .socialList__item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 700;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
    svg {
      margin-right: 1rem;
      border: 2px solid black;
      border-radius: 50%;
      padding: 0.2rem;
    }
    .socialList__name {
      margin-bottom: 0;
    }
  }
  .socialList__item:hover {
    opacity: 1;
  }
}

@include media-breakpoint-down(md) {
  .socialList {
    padding: 1rem;
  }
}
@include media-breakpoint-down(xs) {
  .socialList {
    .socialList__item {
      font-size: 1.2rem;
    }
  }
}
