.header {
  @include fixed();
  width: 100%;
  z-index: 9;
  padding: 0 5%;
  border-bottom: 1px solid $color-black-light;
}
.header__row {
  @include flex(row, space-between, center);
  padding: 10px 0;
  .header__logo {
    padding: 0 10px;
    cursor: pointer;
  }
  .header__nav {
    flex-grow: 0.7;
    .header__nav-list {
      @include flex(row, space-between, center);
      min-width: 100%;
      margin-bottom: 0;
      .header__nav-item {
        position: relative;
        &:hover {
          .dropdown {
            display: block;
          }
        }
        .header__nav-link {
          color: black;
          font-size: 16px;
          padding: 7px;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          img {
            width: 10px;
            margin-left: 3px;
          }
          &:hover {
            color: var(--green);
            img {
              filter: invert(44%) sepia(94%) saturate(389%) hue-rotate(82deg)
                brightness(99%) contrast(88%);
            }
          }
        }
        .dropdown {
          display: none;
          @include absolute($top: 40px, $left: -350px);
          width: 700px;
          border: 2px solid var(--green);
          border-radius: 3px;
          padding: 10px;
          background-color: var(--white);
          animation: rotateMenu 400ms ease-in-out forwards;
          transform-origin: top center;
          
          @keyframes rotateMenu {
            0% {
              transform: rotateX(-90deg);
            }
            70% {
              transform: rotateX(20deg);
            }
            100% {
              transform: rotateX(0deg);
            }
          }
          .arrow-up {
            width: 0px;
            height: 0px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid var(--green);
            @include absolute($top: -16px, $right: 40%);
          }
          .dropdown__content {
            @include flex(row, space-between, center);
            .dropdown__list {
              @include flex(column, center, flex-start);
              padding: 0 20px;
              p {
                font-weight: bold;
                padding: 5px;
                min-width: 100%;
                border-bottom: 1px solid var(--secondary);
              }
              .dropdown__list-item {
                .dropdown__list-link {
                  text-decoration: none;
                  color: var(--secondary);
                }
              }
            }
          }
        }
      }
    }
  }
  .header__icon {
    @include flex(row, space-around);
    flex-grow: 0.1;
    img {
      width: 15px;
      cursor: pointer;
    }
  }
}
@include media-breakpoint-down(lg){
  .header__row {
    .header__logo {
      padding: 0 5px;
    }
    .header__nav {
      &-list {
        .header__nav-item {
          
        }
      }

      &-link{
        font-size: 13px;
      }
    }
  }
}
@include media-breakpoint-down(md){
  .header__row {
    .header__nav {
      order: 1;
      flex: 1 0 100%;
      margin-left: 20px;
      .header__nav-list {
        @include flex(column, center, flex-start);
        .header__nav-item {
          .dropdown {
            @include absolute($top: 30px, $left:-50px);
            font-size: 16px;
            width: 90vw;
            .arrow-up {
              border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid var(--green);
              @include absolute ($top: -10px, $left: 100px)
            }
            z-index: 10;
          }
        }
      }
    }
  }
}
