.image__top {
  @include flex(row);
  .image__top-left {
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 0.5rem;
    img:first-child {
      margin-bottom: 1%;
    }
    img {
      width: 100%;
      height: 49.5%;
    }
  }
  .image__top-right {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 0.5rem;
    @include relative;
    img {
      width: 100%;
      height: 100%;
    }
    svg {
      @include centerPosition(both);
      height: 30%;
      width: 30%;
      opacity: 0.5;
      cursor: pointer;
    }
    svg:hover {
      opacity: 1;
      transition: 0.3s;
    }
  }
}
.image__bot {
  @include flex(row);
  margin-top: 1%;
  .image__bot-left {
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 0.5rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .image__bot-right {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 0.5rem;
    img {
      width: 100%;
      height: 49.5%;
    }
    img:first-child {
      margin-bottom: 1%;
    }
  }
}
@include media-breakpoint-down(xs) {
  .image__top {
    @include flex(column);
    .image__top-left {
      flex: 0 0 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 1%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .image__top-right {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 0.5%;
    }
  }
  .image__bot {
    @include flex(column);
    .image__bot-left {
      flex: 0 0 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 1%;
    }
    .image__bot-right {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 1%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
