.sliderQuote {
  margin-top: 2%;
  .sliderQuote__quote {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 3rem 0;
    background-image: url("../../assets/images/feedback--background.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right center;
    .quote__content {
      font-size: 1.7rem;
      margin-bottom: 0;
      padding: 3rem;
    }
    .quote__content::before {
      content: "\201C";
      color: $color-text-banner;
      font-size: 2rem;
      font-style: italic;
      padding-right: 0.5rem;
    }
    .quote__content::after {
      content: "\201D";
      color: $color-text-banner;
      font-size: 2rem;
      font-style: italic;
      padding-right: 0.5rem;
    }
    .quote__feedback {
      @include relative;
      .quote__feedback-image {
        border-radius: 50%;
        padding: 1rem;
        border: 1px solid $color-black-light-1;
      }
      .quote__feedback-name {
        @include absolute($right: -250%, $bottom: 1.5%);
        font-size: 1.5rem;
        span {
          font-style: italic;
          color: $color-black-light-1;
        }
        span:before {
          content: "_";
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .sliderQuote {
    .sliderQuote__quote {
      .quote__content {
        font-size: 1.5rem;
        padding: 1.5rem;
      }
      .quote__feedback {
        .quote__feedback-image {
          width: 10rem;
        }
        .quote__feedback-name {
          @include absolute($right: -300%, $bottom: -10%);
          font-size: 1.2rem;
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .sliderQuote {
    .sliderQuote__quote {
      flex-direction: column;
      align-items: center;
      .quote__content {
        font-size: 1.5rem;
        padding: 1rem;
      }
      .quote__feedback {
        @include flex(row, center, center);
        margin-top: 2rem;
        .quote__feedback-image {
          width: 10rem;
          margin-right: 0.5rem;
        }
        .quote__feedback-name {
          @include relative;
          right: 0;
          bottom: 0;
          font-size: 1.3rem;
        }
      }
    }
    .slick-dots {
      bottom: 40% !important; 
      left: 25% !important;
    }
  }
}
